<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fruit_Bmob_Jfzd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,78},{74,111}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,111}}</string>
                <key>sourceSize</key>
                <string>{74,119}</string>
            </dict>
            <key>Fruit_Bmob_Jfzd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,78},{74,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{74,113}}</string>
                <key>sourceSize</key>
                <string>{74,119}</string>
            </dict>
            <key>Fruit_Bmob_Jfzd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,78},{74,113}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{74,113}}</string>
                <key>sourceSize</key>
                <string>{74,119}</string>
            </dict>
            <key>Fruit_Bmob_Jfzd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{74,115}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{74,115}}</string>
                <key>sourceSize</key>
                <string>{74,119}</string>
            </dict>
            <key>Fruit_Cm.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,393},{72,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,71}}</string>
                <key>sourceSize</key>
                <string>{72,71}</string>
            </dict>
            <key>Fruit_Cm_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,316},{78,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,75}}</string>
                <key>sourceSize</key>
                <string>{78,75}</string>
            </dict>
            <key>Fruit_Cm_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,541},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>Fruit_Hbl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{70,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,88}}</string>
                <key>sourceSize</key>
                <string>{70,88}</string>
            </dict>
            <key>Fruit_Hbl_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,395},{70,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,90}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>Fruit_Hbl_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,456},{54,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,69}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>Fruit_Hg.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,465},{67,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,64}}</string>
                <key>sourceSize</key>
                <string>{67,64}</string>
            </dict>
            <key>Fruit_Hg_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,461},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>Fruit_Hg_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,393},{55,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,61}}</string>
                <key>sourceSize</key>
                <string>{55,63}</string>
            </dict>
            <key>Fruit_Hgl.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,246},{68,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,86}}</string>
                <key>sourceSize</key>
                <string>{68,86}</string>
            </dict>
            <key>Fruit_Hgl_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,527},{58,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,63}}</string>
                <key>sourceSize</key>
                <string>{58,63}</string>
            </dict>
            <key>Fruit_Hgl_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,466},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>Fruit_Hm.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,273},{74,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,95}}</string>
                <key>sourceSize</key>
                <string>{74,95}</string>
            </dict>
            <key>Fruit_Hm_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{78,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,75}}</string>
                <key>sourceSize</key>
                <string>{78,75}</string>
            </dict>
            <key>Fruit_Hm_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,393},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Fruit_Hpg.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,246},{76,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,87}}</string>
                <key>sourceSize</key>
                <string>{76,87}</string>
            </dict>
            <key>Fruit_Hpg_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,159},{63,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,81}}</string>
                <key>sourceSize</key>
                <string>{63,81}</string>
            </dict>
            <key>Fruit_Hpg_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,373},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Fruit_Lz_Frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,349},{80,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,90}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>Fruit_Lz_Frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,291},{80,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,90}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>Fruit_Lz_Frame_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,233},{80,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,90}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>Fruit_Lz_Frame_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,224},{80,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,90}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>Fruit_Lz_Frame_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,459},{80,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,89}}</string>
                <key>sourceSize</key>
                <string>{80,91}</string>
            </dict>
            <key>Fruit_Mark_Green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,232},{100,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{100,99}}</string>
                <key>sourceSize</key>
                <string>{102,99}</string>
            </dict>
            <key>Fruit_Mark_Green_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,2},{135,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{135,74}}</string>
                <key>sourceSize</key>
                <string>{137,74}</string>
            </dict>
            <key>Fruit_Mark_Orange_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,154},{98,77}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{98,77}}</string>
                <key>sourceSize</key>
                <string>{102,99}</string>
            </dict>
            <key>Fruit_Mark_Orange_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{135,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{135,74}}</string>
                <key>sourceSize</key>
                <string>{137,74}</string>
            </dict>
            <key>Fruit_Mark_Red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{100,87}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{100,87}}</string>
                <key>sourceSize</key>
                <string>{102,99}</string>
            </dict>
            <key>Fruit_Mark_Red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,2},{135,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{135,74}}</string>
                <key>sourceSize</key>
                <string>{137,74}</string>
            </dict>
            <key>Fruit_Mark_White_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,178},{102,93}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{102,93}}</string>
                <key>sourceSize</key>
                <string>{102,99}</string>
            </dict>
            <key>Fruit_Mark_White_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{135,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{135,74}}</string>
                <key>sourceSize</key>
                <string>{137,74}</string>
            </dict>
            <key>Fruit_Mark_Yellow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,293},{100,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{100,87}}</string>
                <key>sourceSize</key>
                <string>{102,99}</string>
            </dict>
            <key>Fruit_Mark_Yellow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,2},{135,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{135,74}}</string>
                <key>sourceSize</key>
                <string>{137,74}</string>
            </dict>
            <key>Fruit_Nm.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,225},{98,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,64}}</string>
                <key>sourceSize</key>
                <string>{98,64}</string>
            </dict>
            <key>Fruit_Nm_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,461},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>Fruit_Nm_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,392},{62,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,67}}</string>
                <key>sourceSize</key>
                <string>{62,67}</string>
            </dict>
            <key>Fruit_Qpg.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,467},{79,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>Fruit_Qpg_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,315},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{76,80}</string>
            </dict>
            <key>Fruit_Qpg_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,316},{67,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,78}}</string>
                <key>sourceSize</key>
                <string>{67,78}</string>
            </dict>
            <key>Fruit_Sm.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,382},{75,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,92}}</string>
                <key>sourceSize</key>
                <string>{75,92}</string>
            </dict>
            <key>Fruit_Sm_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,431},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>Fruit_Sm_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,391},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>Fruit_Swzd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,78},{75,131}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,131}}</string>
                <key>sourceSize</key>
                <string>{75,133}</string>
            </dict>
            <key>Fruit_Swzd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{75,109}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{75,109}}</string>
                <key>sourceSize</key>
                <string>{75,133}</string>
            </dict>
            <key>Fruit_Swzd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{75,113}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{75,113}}</string>
                <key>sourceSize</key>
                <string>{75,133}</string>
            </dict>
            <key>Fruit_Swzd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,155},{75,121}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{75,121}}</string>
                <key>sourceSize</key>
                <string>{75,133}</string>
            </dict>
            <key>Fruit_Tc.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,385},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>Fruit_Tc_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,318},{75,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,73}</string>
            </dict>
            <key>Fruit_Tc_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,324},{65,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,71}}</string>
                <key>sourceSize</key>
                <string>{65,71}</string>
            </dict>
            <key>Fruit_Xg.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,192},{99,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,105}}</string>
                <key>sourceSize</key>
                <string>{99,105}</string>
            </dict>
            <key>Fruit_Xg_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,226},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Fruit_Xg_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,154},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Fruit_Xj.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,78},{121,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,98}}</string>
                <key>sourceSize</key>
                <string>{121,98}</string>
            </dict>
            <key>Fruit_Xj_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,333},{60,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,95}}</string>
                <key>sourceSize</key>
                <string>{60,95}</string>
            </dict>
            <key>Fruit_Xj_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,154},{83,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,43}}</string>
                <key>sourceSize</key>
                <string>{83,43}</string>
            </dict>
            <key>Fruit_Xl.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,79},{74,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,108}}</string>
                <key>sourceSize</key>
                <string>{74,108}</string>
            </dict>
            <key>Fruit_Xl_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,78},{79,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{79,83}</string>
            </dict>
            <key>Fruit_Xl_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{78,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,91}}</string>
                <key>sourceSize</key>
                <string>{78,93}</string>
            </dict>
            <key>Fruit_Yt.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,154},{69,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,104}}</string>
                <key>sourceSize</key>
                <string>{69,104}</string>
            </dict>
            <key>Fruit_Yt_Left.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,155},{69,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,104}}</string>
                <key>sourceSize</key>
                <string>{69,104}</string>
            </dict>
            <key>Fruit_Yt_Right.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,324},{58,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{58,66}</string>
            </dict>
            <key>lzFruit_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{223,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,188}}</string>
                <key>sourceSize</key>
                <string>{223,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Fruit.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09d7e751f58595cbcf12059d09a2858d$</string>
            <key>textureFileName</key>
            <string>Fruit.png</string>
        </dict>
    </dict>
</plist>
