<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FeastIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,561},{135,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{135,140}}</string>
                <key>sourceSize</key>
                <string>{139,144}</string>
            </dict>
            <key>ForProps.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{212,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,70}}</string>
                <key>sourceSize</key>
                <string>{212,70}</string>
            </dict>
            <key>ForProps1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{306,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,92}}</string>
                <key>sourceSize</key>
                <string>{306,92}</string>
            </dict>
            <key>NewBieBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{484,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,90}}</string>
                <key>sourceSize</key>
                <string>{484,90}</string>
            </dict>
            <key>OffmadIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,698},{139,140}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{139,140}}</string>
                <key>sourceSize</key>
                <string>{139,144}</string>
            </dict>
            <key>arcade mode-circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{260,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,260}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>back-circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,764},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>back-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,500},{84,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,119}}</string>
                <key>sourceSize</key>
                <string>{84,119}</string>
            </dict>
            <key>boomIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{109,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{109,144}}</string>
                <key>sourceSize</key>
                <string>{139,144}</string>
            </dict>
            <key>cancelBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,94},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>doubleparty1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,895},{128,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{128,124}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>doubleparty2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,763},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{124,128}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>doubleparty3.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,636},{126,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,130}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>doubleparty4.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,893},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,130}</string>
            </dict>
            <key>giftIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,840},{139,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{139,134}}</string>
                <key>sourceSize</key>
                <string>{139,144}</string>
            </dict>
            <key>hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,500},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>level-grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,356},{167,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,203}}</string>
                <key>sourceSize</key>
                <string>{167,203}</string>
            </dict>
            <key>level.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,94},{167,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,203}}</string>
                <key>sourceSize</key>
                <string>{167,203}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,299},{86,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,81}}</string>
                <key>sourceSize</key>
                <string>{86,81}</string>
            </dict>
            <key>page-grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,981},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>page.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,840},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>stage_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,636},{117,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,125}}</string>
                <key>sourceSize</key>
                <string>{117,125}</string>
            </dict>
            <key>star-mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,387},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>zombie icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,299},{199,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,161}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb607a12978811ff993bffe65989a718$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
