<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Frozen_mushroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,161},{163,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,147}}</string>
                <key>sourceSize</key>
                <string>{163,147}</string>
            </dict>
            <key>Frozen_mushroom_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,868},{124,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,70}}</string>
                <key>sourceSize</key>
                <string>{124,70}</string>
            </dict>
            <key>Frozen_mushroom_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,175},{163,104}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,104}}</string>
                <key>sourceSize</key>
                <string>{163,108}</string>
            </dict>
            <key>Melancholy_mushrooms.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,553},{139,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,144}}</string>
                <key>sourceSize</key>
                <string>{139,144}</string>
            </dict>
            <key>Melancholy_mushrooms_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{115,80}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{115,80}}</string>
                <key>sourceSize</key>
                <string>{139,84}</string>
            </dict>
            <key>Melancholy_mushrooms_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,692},{139,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,101}}</string>
                <key>sourceSize</key>
                <string>{139,103}</string>
            </dict>
            <key>blood-green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,316}}</string>
                <key>sourceSize</key>
                <string>{290,316}</string>
            </dict>
            <key>blood-green2.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,747},{137,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,119}}</string>
                <key>sourceSize</key>
                <string>{137,119}</string>
            </dict>
            <key>blood-purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,566},{124,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,141}}</string>
                <key>sourceSize</key>
                <string>{124,141}</string>
            </dict>
            <key>blood-purple2.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,259},{157,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,128}}</string>
                <key>sourceSize</key>
                <string>{157,128}</string>
            </dict>
            <key>blood-red.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{171,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,190}}</string>
                <key>sourceSize</key>
                <string>{171,190}</string>
            </dict>
            <key>blood-red2.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,648},{97,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,140}}</string>
                <key>sourceSize</key>
                <string>{97,140}</string>
            </dict>
            <key>bwoo.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,883},{74,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,120}}</string>
                <key>sourceSize</key>
                <string>{74,120}</string>
            </dict>
            <key>bwoo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,786},{77,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,112}}</string>
                <key>sourceSize</key>
                <string>{77,112}</string>
            </dict>
            <key>nuts.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,294},{124,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,152}}</string>
                <key>sourceSize</key>
                <string>{124,152}</string>
            </dict>
            <key>nuts_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{124,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{124,100}}</string>
                <key>sourceSize</key>
                <string>{124,104}</string>
            </dict>
            <key>nuts_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,883},{122,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{122,94}}</string>
                <key>sourceSize</key>
                <string>{124,98}</string>
            </dict>
            <key>sunflower.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,420},{150,148}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{150,148}}</string>
                <key>sourceSize</key>
                <string>{154,162}</string>
            </dict>
            <key>sunflower_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,476},{145,88}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{145,88}}</string>
                <key>sourceSize</key>
                <string>{149,94}</string>
            </dict>
            <key>sunflower_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{149,69}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,69}}</string>
                <key>sourceSize</key>
                <string>{149,73}</string>
            </dict>
            <key>zoobi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,151},{106,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,170}}</string>
                <key>sourceSize</key>
                <string>{106,170}</string>
            </dict>
            <key>zoobi_1_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,868},{107,116}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{107,116}}</string>
                <key>sourceSize</key>
                <string>{117,122}</string>
            </dict>
            <key>zoobi_1_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,694},{117,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,86}}</string>
                <key>sourceSize</key>
                <string>{117,88}</string>
            </dict>
            <key>zoobi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,417},{135,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,151}}</string>
                <key>sourceSize</key>
                <string>{135,151}</string>
            </dict>
            <key>zoobi_2_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,694},{122,110}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{122,110}}</string>
                <key>sourceSize</key>
                <string>{140,114}</string>
            </dict>
            <key>zoobi_2_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,389},{157,85}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,85}}</string>
                <key>sourceSize</key>
                <string>{157,97}</string>
            </dict>
            <key>zoobi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{113,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,149}}</string>
                <key>sourceSize</key>
                <string>{113,149}</string>
            </dict>
            <key>zoobi_3_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,570},{132,122}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{132,122}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>zoobi_3_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{132,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,70}}</string>
                <key>sourceSize</key>
                <string>{132,70}</string>
            </dict>
            <key>zoobi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,868},{81,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,103}}</string>
                <key>sourceSize</key>
                <string>{81,103}</string>
            </dict>
            <key>zoobi_4_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,694},{88,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,81}}</string>
                <key>sourceSize</key>
                <string>{88,81}</string>
            </dict>
            <key>zoobi_4_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,364},{82,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,41}}</string>
                <key>sourceSize</key>
                <string>{84,41}</string>
            </dict>
            <key>zoobi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,281},{134,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,162}}</string>
                <key>sourceSize</key>
                <string>{134,162}</string>
            </dict>
            <key>zoobi_5_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,448},{103,99}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{107,99}</string>
            </dict>
            <key>zoobi_5_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{153,135}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,135}}</string>
                <key>sourceSize</key>
                <string>{153,143}</string>
            </dict>
            <key>zoobi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,553},{93,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,142}}</string>
                <key>sourceSize</key>
                <string>{93,142}</string>
            </dict>
            <key>zoobi_6_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,868},{107,103}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{107,103}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>zoobi_6_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,259},{103,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,61}}</string>
                <key>sourceSize</key>
                <string>{103,61}</string>
            </dict>
            <key>zoobi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,310},{117,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,157}}</string>
                <key>sourceSize</key>
                <string>{117,157}</string>
            </dict>
            <key>zoobi_7_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,782},{99,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{99,96}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>zoobi_7_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,689},{125,95}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,95}}</string>
                <key>sourceSize</key>
                <string>{125,107}</string>
            </dict>
            <key>zoobi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{157,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,189}}</string>
                <key>sourceSize</key>
                <string>{157,189}</string>
            </dict>
            <key>zoobi_8_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,554},{136,120}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,120}}</string>
                <key>sourceSize</key>
                <string>{144,120}</string>
            </dict>
            <key>zoobi_8_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,2},{176,147}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,147}}</string>
                <key>sourceSize</key>
                <string>{176,157}</string>
            </dict>
            <key>zoobi_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,429},{122,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,146}}</string>
                <key>sourceSize</key>
                <string>{122,146}</string>
            </dict>
            <key>zoobi_9_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,753},{122,109}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{122,109}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>zoobi_9_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,676},{123,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,75}}</string>
                <key>sourceSize</key>
                <string>{125,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Corpse.png</string>
            <key>size</key>
            <string>{903,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4105a551180524d22f75680d19c949e$</string>
            <key>textureFileName</key>
            <string>Corpse.png</string>
        </dict>
    </dict>
</plist>
